.cardDetalle {
    width: 100%;
    margin: 50px auto 50px auto;
    min-height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.contImg {
    width: 45%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contImg img{
    width: 100%;
}

.separador {
    height: 500px;
    border-left: 1px solid #ccc;
}

.contCuerpo {
    width: 45%;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nombre, .precio{
    font-size: 30px;
    margin: 0;
}